<div class="content">
    <form class="dashboard" ng-controller="contentCtrl" name="routeForm">
        <div class="route-title">
            <input type="text" value="" placeholder="路书名" class="route-title-position form-input input-text-m form-control" required>
        </div>
        <div class="editor-panel">
            <div class="days-editor">
                <ul>
                    <li class="padding20" back-to-pre-day><a href=""><i class="fa fa-angle-left fa-4x"></i></a></li>
                    <li>
                        <p>
                            <div uib-dropdown is-open="status.isopen">第
                                <span class="width62">
                                    <span ng-bind="dayNumber" id="day-num"></span>
                                    <span id="drop-down" class="hide"><i class="fa fa-angle-down" uib-dropdown-toggle ng-disabled="disabled"></i></span>
                                </span>天
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                   <li role="menuitem"><a href="">第一天</a></li>
                                   <li role="menuitem"><a href="">第二天</a></li>
                                   <li role="menuitem"><a href="">第三天</a></li>
                                   <li role="menuitem"><a href="">第四天</a></li>
                               </ul>
                            </div>
                        </p>
                        <p>
                            <a href="">
                                <span ng-model="firstTravelDate" id="first-day">{{firstTravelDate}}</span>
                                <i class="fa fa-calendar"></i>
                            </a>
                        </p>
                    </li>
                    <li class="padding20"><a href=""><i class="fa fa-angle-right fa-4x"></i></a></li>
                </ul>
                <ul>
                    <li class="padding20" add-new-day><a href=""><i class="fa fa-plus fa-2x"></i></a></li>
                    <li class="padding20"><a href=""><i class="fa fa-trash-o fa-2x"></i></a></li>
                </ul>
            </div>
            <div class="sights-editor">
                <div class="sight-container" show-icon>
                    <div class="sight-img"><img src="" alt="" name="locationImage" ng-model="locationImage"></div>
                    <div class="sight-title">
                        <a href="" ng-bind="locationName"></a>
                        <p id="edit-icons" class="hide"><a href=""><i class="fa fa-edit"></i></a>&nbsp<a href=""><i class="fa fa-trash-o"></i></a></p>
                    </div>
                </div>
                <div class="sight-distance" ng-show="false">
                    <i class="fa fa-long-arrow-down fa-2x"></i>
                    <i class="fa fa-road"></i>
                    <span>相距：<span ng-bind="spaceBetweenTwoSights"></span></span>
                    <i class="fa fa-car"></i>
                    <span>驾车：<span ng-bind="drivingTimeBetweenTwoSights"></span></span>
                </div>

            </div>
            <div class="editor-footer">
                <a href="" class="button button-block button-red">保存路书</a>
            </div>
        </div>
    </form>
</div>

